@use 'variables';
@use 'functions';

// Flexbox
@mixin flexbox($direction: row, $justify: flex-start, $items: stretch, $content: normal, $wrap: nowrap, $gap: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $items;
  align-content: $content;
  flex-wrap: $wrap;
  @if $gap != null { gap: $gap; }
}

// Typography styles
@mixin font-styles($weight: normal, $style: normal, $transform: none) {
  font-weight: $weight;
  font-style: $style;
  text-transform: $transform;
}

// Responsive breakpoints
@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: #{$breakpoint}";
  }
}