@use 'functions';

// Base Colors
$base-colors: (
  primary: #55B785,
  secondary: #808181,
  info: #0099FF,
  success: #30DF3E,
  warning: #FB8609,
  danger: #DF3030,
  text: #121212,
  white: #FFFFFF,
  black: #000000
);

// Theme Colors
$theme-colors: map-merge(
  $base-colors,
  functions.generate-theme-color-variants($base-colors)
);

// Grid Column Sizes
$column-sizes: functions.generate-columns(12);

// Utility Sizes
$utility-sizes: functions.generate-utility-sizes(1, 19, 5);

// Spacing Sizes
$spacing-sizes: functions.generate-spacing-sizes(0.25rem, 1, 12);

// Typography Sizes
$font-sizes: (
  caption: 0.75rem,
  small: 0.875rem,
  body: 1rem,
  h1: 3rem,
  h2: 2.5rem,
  h3: 2rem,
  h4: 1.75rem,
  h5: 1.5rem,
  h6: 1.25rem
);

// Line Heights
$line-heights: (
  normal: 1.5,
  small: 1.25,
  large: 2
);

// Breakpoints
$breakpoints: (
  xs: 'screen and (max-width: 575px)',
  sm: 'screen and (min-width: 576px)',
  md: 'screen and (min-width: 768px)',
  lg: 'screen and (min-width: 992px)',
  xl: 'screen and (min-width: 1200px)',
  xxl: 'screen and (min-width: 1400px)'
);