// Grid Column Sizes
$column-sizes: (
  columns-12: calc(100% * 12 / 12),
  columns-11: calc(100% * 11 / 12),
  columns-10: calc(100% * 10 / 12),
  columns-9: calc(100% * 9 / 12),
  columns-8: calc(100% * 8 / 12),
  columns-7: calc(100% * 7 / 12),
  columns-6: calc(100% * 6 / 12),
  columns-5: calc(100% * 5 / 12),
  columns-4: calc(100% * 4 / 12),
  columns-3: calc(100% * 3 / 12),
  columns-2: calc(100% * 2 / 12),
  columns-1: calc(100% * 1 / 12)
);

// Utility Sizes
$utility-sizes: (
  container-full: 100%,
  container-xxl: 90%,
  container-xl: 80%,
  container-lg: 70%,
  container-md: 60%,
  container-sm: 50%
);

// Theme Colors
$theme-colors: (
  primary: #55B785,
  secondary: #808181,
  success: #30DF3E,
  danger: #DF3030,
  warning: #FB8609,
  info: #0099FF,
  light: #F8F9FA,
  dark: #343A40
);

// Typography Sizes
$font-sizes: (
  body: 1rem,
  h1: 3rem,
  h2: 2.5rem,
  h3: 2rem,
  h4: 1.75rem,
  h5: 1.5rem, 
  h6: 1.25rem
);

// Line Heights
$line-heights: (
  normal: 1.5,
  small: 1.25,
  large: 2
);

// Spacing Sizes
$spacing-sizes: (
  none: 0,
  xs: 0.25rem,
  sm: 0.5rem,
  md: 1rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 3rem
);

// Breakpoints
$breakpoints: (
  xs: 'screen and (max-width: 575px)',
  sm: 'screen and (min-width: 576px)',
  md: 'screen and (min-width: 768px)',
  lg: 'screen and (min-width: 992px)',
  xl: 'screen and (min-width: 1200px)',
  xxl: 'screen and (min-width: 1400px)'
);